.section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;

  @media (min-width: 48em) {
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
}