.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (min-width: 48em) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.city {
  text-align: center;
}